<div class="success-box">
    <h1>{{ message }}</h1>
    <p style="color: lightgreen;">{{ message }}</p>

    {% if video_file %}
    <p style="cursor: pointer; color: #4CAF50; text-decoration: underline;" onclick="toggleVideo()">
        ▶️ Click!!!!! 
    </p>

    <div id="video-container" style="display: none; margin-top: 20px;">
        <video width="320" height="240" controls autoplay>
            <source src="{{ url_for('static', filename=video_file) }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <script>
        function toggleVideo() {
            const videoDiv = document.getElementById("video-container");
            videoDiv.style.display = (videoDiv.style.display === "none") ? "block" : "none";
        }
    </script>
    {% endif %}
</div>
